<div class="message received">
  <div class="bubble bg-white shadow-sm rounded-1">
    <div><strong><%= message.user&.username %></strong></div>
    <div class="mt-1"><%= message.body %></div>
  </div>
</div>