<div class="card rounded-0 border-0 shadow app-main">
  <div class="row g-0 h-100">
    <div class="col-md-4 bg-white">
      <div class="list-group rounded-0 list-group-flush">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          The current link item
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-white">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-white">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-white">A fourth link item</a>
      </div>
    </div>
    <div class="col-md-8 chat-area bg-secondary-subtle border-start">
      <div class="card-body p-0 h-100">
        <div class="chat-window h-100">
          <!-- Chat Header -->
          <div class="chat-header bg-body-tertiary">
            <div class="d-flex align-items-center">
              <div class="ms-2">John Doe</div>
            </div>
            <div>Actions</div>
          </div>

          <!-- Chat Body -->
          <div class="chat-body d-flex flex-column">
            <!-- Received Message -->
            <div class="message received">
              <div class="bubble bg-white shadow-sm rounded-1">Hi there! How are you?</div>
            </div>
            <!-- Sent Message -->
            <div class="message sent">
              <div class="bubble bg-primary-subtle shadow-sm rounded-1">I'm good, thanks! How about you?</div>
            </div>
            
            <% @messages.each do |message| %>
              <div class="message sent">
                <div class="bubble bg-primary-subtle shadow-sm rounded-1"><%= "#{message.user&.username}: #{message.body}" %></div>
              </div>
            <% end %>
          </div>

          <!-- Chat Footer -->
          <div class="chat-footer bg-body-tertiary border-top">
            <input type="text" class="rounded form-control" placeholder="Type a message">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>