.session-body {
  min-height: 100;
}
.sessions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);

  > form {
    width: 100%;
    max-width: 350px;
  }

  .form-floating:focus-within {
    z-index: 2;
  }

  input[type='text'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
